:root {
    --corDeFundo: #000;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #020024;
    background: linear-gradient(164deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}

.main {
    display: flex;
    margin: 5rem 0 0 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.lista-botoes {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1.5rem;
    margin-left: 2rem;
}

.lista-botoes-item {
    display: flex;
    align-items: center;
}

.icone {
    width: 75px;
    height: 75px;
    color: var(--corDoTextoPrincipal);
}

.link {
    font-family: var(--fonte);
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--corDoTextoPrincipal);
    padding: 1rem;
}

.link:hover {
    color: #585555;;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.forms-cadastro {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-control {
    height: 3rem;
    border: 4px solid var(--corDoTextoPrincipal);
    border-radius: 16px;
    padding: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.enviar {
    background: rgba(9, 9, 121, 1);
    border: 2px solid var(--corDoTextoPrincipal);
    border-radius: 16px;
    color: var(--corDoTextoPrincipal);
    width: 50%;
    height: 3rem;
}

.enviar:hover {
    background: rgb(19, 19, 236);
    cursor: pointer;
}