footer {
    display: flex;
    flex-direction: column;
    background: #B9B9B9;
    padding: 0.5rem 1rem;
}

/* section cadastro */

.cadastro {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000;
}

.cadastro-descricao {
    display: flex;
    flex-direction: column;
}

.cadastro-descricao-titulo {
    font-size: 0.875rem;
    margin: 0;
}

.cadastro-descricao-texto {
    font-size: 0.625rem;
    margin: 0;
}

.cadastro-enviar {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.25rem;
}

.email {
    background: #000;
    padding: 0.25rem;
    border: none;
}

.cadastrar {
    width: 75%;
    background: none;
    border: 2px solid #000;
    border-radius: 16px;
}

/* section contato */

.contato {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.contato-div {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 0.25rem;
}

.contato-titulo {
    margin: 0;
    font-size: 1rem;
}

.contato-item {
    font-size: 0.625rem;
    margin: 0;
    word-wrap: break-word;
}

.site-titulo {
    font-size: 1.25rem;
    margin: 0;
}