/* section destaques */
@import url("./index/destaques.css");

/* section eventos */
@import url("./index/eventos.css");

/* footer */
@import url("./index/footer.css");

:root {
    --corDeFundo: #000;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
}

body {
    background: #020024;
    background: linear-gradient(164deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.titulo {
  color: var(--corDoTextoPrincipal);
  font-size: 1.5rem;
}

.info-item {
  text-decoration: none;
  color: var(--corDoTextoPrincipal);
  font-size: 1rem;
}

.menu-perfil {
  background: none;
  border: none;
  padding: 0;
}

.menu-perfil-img {
  width: 40px;
  height: 40px;
}


