:root {
    --corDeFundo: #000;
    --Background: #1B1A1A;
    --itensFundo: #302C2C;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
    --fonteRoxa: #AC00FF;
    --fonteCinza: #B7ADAD;
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--Background);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}

main {
    display: flex;
    flex-direction: column;
}

main hr {
    width: 100%;
    background: var(--gradientePrinci);
    height: 4px;
    border: none;
}

/* section favoritos */
.favoritos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
}

.favoritos-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favoritos-texto h2 {
    color: var(--corDoTextoPrincipal);
    font-size: 1.125rem;
}

.favoritos-texto p {
    font-size: 0.875rem;
    color: var(--corDoTextoPrincipal);
}

#mostrar-todos-favoritos {
    background: none;
    color: var(--corDoTextoPrincipal);
    border: none;
}

.favoritos-lista {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    overflow: hidden;
}

.favoritos-lista-item {
    width: 33%;
    background: var(--itensFundo);
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    border-image: var(--gradientePrinci) 1;
    padding: 0.25rem;
}

.imagem-container {
    position: relative;
    width: 100%;
}

.favoritos-item-img {
    width: 100%;
}

.favorito-btn {
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    background: var(--fonteRoxa);
    width: 30px;
    height: 30px;
    border-radius: 25px;
    opacity: 90%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favoritar-icone {
    width: 17px;
    height: 17px;
}

.favoritos-item-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 0.35rem;
}

.favoritos-item-descricao h4 {
    font-size: 0.625rem;
    margin: 0;
    text-align: center;
}

.favoritos-item-descricao p {
    font-size: 8px;
    margin: 0;
    text-align: center;
}

.favoritos-item-descricao-nome {
    white-space: nowrap;   
    overflow: hidden;      
    text-overflow: ellipsis;  
    max-width: 80px;          
    display: block;
    color: var(--corDoTextoPrincipal);  
}

.favoritos-item-descricao-data {
    color: var(--cinzaRodape);
}

.favoritos-item-descricao-local {
    color: var(--fonteRoxa);
}

/* section grupos */
.grupos {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem 0.5rem 1rem;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 16px;
    background: var(--itensFundo)
}

.grupos-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupos-texto h2 {
    color: var(--corDoTextoPrincipal);
    font-size: 1.125rem;
}

.grupos-texto p {
    font-size: 0.875rem;
    color: var(--corDoTextoPrincipal);
}

.grupos-lista {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    height: 100%;
}

.grupos-lista-item {
    width: 27.5%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradientePrinci);
    border-radius: 16px;
    padding: 0.75rem;
}

#btn-criar-grupo {
    border: none;
    background: none;
}

.grupos-botao {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-imagem {
    width: 95%;
    height: 95%;
}

.grupos-lista-item a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grupo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grupo-info p {
    font-size: 14px;
    color: var(--corDoTextoPrincipal);
}

.grupo-img {
    width: 50%;
}

#mostrar-todos-grupos {
    text-align: end;
    font-size: 14px;
    font-weight: 600;
}

/* section mural */
.mural {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    margin: 0.5rem 1rem;
    border-radius: 16px;
    padding: 0.5rem;
}

.mural h2 {
    margin: 0.75rem 0;
}

.sugestoes-lista {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
}

.sugestoes-lista-item {
    position: relative;
    width: 25%;
}

.sugestoes-item-img {
    position: relative;
    width: 100%;
}

.sugestoes-item-texto {
    position: absolute;
    top: 5px;
    font-size: 0.75rem;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    height: 65%;
    margin: 0.75rem;
}

/* section agenda */
.agenda {
    margin: 1.5rem 1rem 0.5rem 1rem;
}

.agenda-titulo {
    font-size: 18px;
    margin: 0.5rem 0;
    color: var(--corDoTextoPrincipal);
} 

.calendario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height: 400px;
}

.mes {
    background: var(--itensFundo);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.mes h3 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--cinzaRodape);
    margin-bottom: 1rem;
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.dia {
    background-color: var(--cinzaRodape);
    border-radius: 8px;
    padding: 0.3rem;
    text-align: left;
    font-size: 0.8rem;
    min-height: 50px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

.dia strong {
    display: block;
    color: var(--corDoTextoPrincipal);
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.dia ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.eventos-do-dia li {
    background-color: var(--fonteRoxa);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.7rem;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.evento-link {
    text-decoration: none;
    color: var(--corDoTextoPrincipal);
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: var(--itensFundo);
    padding: 2rem;
    border-radius: 12px;
    width: 75%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--corDoTextoPrincipal)
}

#lista-eventos-dia {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#lista-eventos-dia li {
    background-color: var(--fonteRoxa);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

#lista-eventos-dia a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--corDoTextoPrincipal);
    cursor: pointer;
}

/* Ocultar botão remover no mobile */
.remover-evento {
    display: none;
}

.footer-linha {
    margin: 0.5rem 0;
}

