<footer>
    <section class="cadastro">
        <div class="cadastro-descricao">
            <h3 class="cadastro-descricao-titulo">Fique por dentro</h3>
            <p class="cadastro-descricao-texto">Cadastre-se e seja o primeiro a saber sobre novos eventos</p>
        </div>
        <div class="cadastro-enviar">
            <input type="text" class="email" placeholder="E-mail">
            <button class="cadastrar" type="submit">Cadastrar</button>
        </div>
    </section>
    <section class="contato">
        <div class="contato-div">
            <h4 class="contato-titulo">SUPORTE</h4>
            <p class="contato-item">Termos e Condições</p>
            <p class="contato-item">Política de privacidade</p>
            <p class="contato-item">Perguntas frequentes</p>
        </div>
        <div class="contato-div">
            <h4 class="contato-titulo">CONTATO</h4>
            <p class="contato-item">pedrohenriquemartinscorrea@gmail.com</p>
            <p class="contato-item">(17) 99712-1851</p>
        </div>
        <h3 class="site-titulo">EVENTIA</h3>
    </section>
</footer>