{% load static %}

<header>
    <a href="{% url 'index' %}" class="titulo">EVENTIA</a>
    <a href="" class="info-item">SOBRE</a>
    <div class="btn-menu-container">
        <button class="menu-perfil"
            type="button"
            onclick="toggleMenuPerfil()"
            id="botao-menu">
        <img src="{% static 'assets/icons/usuario-icon.png' %}" alt="" class="menu-perfil-img icone-usuario">
        <img src="{% static 'assets/icons/perfil-azul-icon.png' %}" alt="Fechar" class="menu-perfil-img icone-fechar">
        </button>
        <div class="menu-lateral-perfil">
            {% if user.is_authenticated %}
                <a href="{% url 'area' %}" class="menu-lateral-perfil-item">Minha área</a>
                <a href="{% url 'logout' %}" class="menu-lateral-perfil-item">Logout</a>
            {% else %}
                <button class="menu-lateral-perfil-item" id="popUpLogin-btn">Login</button>
                <button class="menu-lateral-perfil-item" id="popUpCadastro-btn">Cadastre-se</button>
            {% endif %}
        </div>
    </div>
</header>