/* header */
@import url("../header.css");

/* footer */
@import url("../footer.css");

:root {
    --corDeFundo: #000;
    --Background: #1B1A1A;
    --itensFundo: #302C2C;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
    --fonteRoxa: #AC00FF;
    --fonteCinza: #B7ADAD;
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

body {
    background: var(--Background);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}


/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* section imagem-container */
.imagem-container {
    display: flex;
    flex-direction: column;
    color: var(--corDoTextoPrincipal);
    width: 85%;
}

.evento-nome {
    font-size: 16px;
}

.evento-imagem {
    width: 100%;
}

.informacoes-do-evento {
    background: var(--itensFundo);
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1rem 0;
}

.informacoes-do-evento h2 {
    color: var(--corDoTextoPrincipal);
    margin: 0.25rem;
}

.informacoes-do-evento p {
    margin: 0.25rem;
}

.local-evento {
    color: var(--cinzaRodape);
}

.data-evento {
    color: var(--fonteRoxa);
}

.ingressos {
    display: flex;
    flex-direction: column;
    width: 85%;
    background: var(--itensFundo);
    border-width: 4px;
    border-style: solid;
    border-image: var(--gradientePrinci) 1;
}

.ingressos h2 {
    color: var(--corDoTextoPrincipal);
    margin: 0.25rem 0.5rem;
}

.ingresso-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 0.5rem;
    border-top: 3px solid var(--corDoTextoPrincipal);
    padding-top: 0.5rem;
}

.ingresso-container-1 {
    display: flex;
    flex-direction: column;
}

.ingresso-container-1 h3 {
    margin: 0;
    color: var(--corDoTextoPrincipal);
}

.ingresso-descricao {
    margin: 0;
    color: var(--corDoTextoPrincipal);
    font-size: 14px;
}

.ingresso-preco {
    margin: 0;
    color: var(--fonteRoxa);
    font-size: 14px;
}

.ingresso-btns-1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.add-1 {
    background: none;
    border: 2px solid var(--fonteRoxa);
    border-radius: 15px;
    width: 25px;
    height: 25px;
    color: var(--corDoTextoPrincipal);
}

.sub-1 {
    background: none;
    border: 2px solid var(--fonteRoxa);
    border-radius: 15px;
    width: 25px;
    height: 25px;
    color: var(--corDoTextoPrincipal);
}

.ingressos-qtd-1 {
    color: var(--corDoTextoPrincipal);
}

.evento-descricao {
    width: 85%;
}

.evento-descricao hr {
    background: var(--gradientePrinci);
    height: 4px;
    border: none;
    margin-top: 1rem;
}

.evento-descricao h2 {
    margin: 0;
    color: var(--corDoTextoPrincipal);
}

.evento-descricao p {
    color: var(--corDoTextoPrincipal);
    width: 100%;
}
