:root {
    --corDeFundo: #000;
    --fonte: "Winky Rough", sans-serif;
    --corDoTextoPrincipal: #fff;
}

body {
    background: #020024;
    background: linear-gradient(164deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}

header {
    height: 100px;
    background: var(--corDoTextoPrincipal);
}

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    background: var(--corDoTextoPrincipal);
    padding: 1rem;
    width: 300px;
}

.evento-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.evento-detalhes h1 {
    font-size: 2rem;
    color: var(--corDoTextoPrincipal);
}

.evento-container {
    display: flex;
    gap: 2rem;
    align-items: start;
    justify-content: space-between;
    margin: 1rem 3rem;
}

.evento-info {
    border: 4px solid var(--corDoTextoPrincipal);
    border-radius: 16px;
    padding: 1rem;
    width: 50%;
}

.evento-info h1 {
    margin: 0.75rem 0;
}

.evento-info a {
    color: var(--corDoTextoPrincipal);
    padding: 1rem;
    border: 4px solid var(--corDoTextoPrincipal);
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
}

.evento-info a:hover {
    background:#2f7fda;
}

.evento-valores {
    border: 4px solid var(--corDoTextoPrincipal);
    border-radius: 16px;
    width: 50%;
    padding: 1rem;
    color: var(--corDoTextoPrincipal);
}

.valores-titulo {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.75rem 0;
}

.valores-monetario {
    font-size: 1.25rem;
    text-wrap: wrap;
}

.evento-imagem {
    width: 1000px;
}

.data-local {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--corDoTextoPrincipal);
    font-size: 1.25rem;
    font-weight: 500;
}

.data-local p {
    margin: 0;
}