{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login/cadastro.css' %}">
</head>
<body>

    {% include 'partials/header.html' %}

    <section class="main">
        <div class="menu-lateral">
            <ul class="lista-botoes">
                <li class="lista-botoes-item">
                    <img class="icone" src="{% static 'assets/icons/home-icon.png' %}" alt="Icone para a página principal">
                    <a class="link" href="{% url 'index' %}">HOME</a>
                </li>
                <li class="lista-botoes-item">
                    <img class="icone" src="{% static 'assets/icons/eventos-icon.png' %}" alt="">
                    <a class="link" href="">EVENTOS</a>
                </li>
                <li class="lista-botoes-item">
                    <img class="icone" src="{% static 'assets/icons/cadastro-icon.png' %}" alt="">
                    <a class="link" href="{% url 'login' %}">LOGIN</a>
                </li>
                <li class="lista-botoes-item">
                    <img class="icone" src="{% static 'assets/icons/usuario-icon.png' %}" alt="">
                    <a class="link" href="">MINHA ÁREA</a>
                </li>
            </ul>
        </div>

        <div class="login-container">
            <form action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                    <div class="forms-cadastro">
                        {% for field in form.visible_fields %}
                            <div class="text-area" style="margin-bottom: 10px;">
                                <label for="{{form.id_for_label}}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{error}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="button">
                        <button class="enviar" type="submit">Cadastrar</button>
                    </div>
            </form>
        </div>
    </section>

    {% include 'partials/footer.html' %}
    
</body>
</html>