:root {
    --corDeFundo: #000;
    --Background: #1B1A1A;
    --itensFundo: #302C2C;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
    --fonteRoxa: #AC00FF;
    --fonteCinza: #B7ADAD;
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

#popup-login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-login p {
    margin: 0;
    color: var(--cinzaRodape);
}

.text-area {
    width: 100%;
}

.form-control {
    width: 99%;
    height: 2rem;
    border: none;
}

.btns-login {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 1rem;
}

.btns-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.btns-login-container p {
    font-size: 10px;
    margin: 0;
    color: var(--corDoTextoPrincipal);
}

.btns-login-cadastrar-popup {
    width: 100%;
    height: 1.75rem;
    background: var(--corDoTextoPrincipal);
    border: none;
    border-radius: 16px;
}

.btns-login-login {
    width: 100%;
    height: 1.75rem;
    background: var(--gradientePrinci);
    border: none;
    border-radius: 16px;
    color: var(--corDoTextoPrincipal);
}

