:root {
    --corDeFundo: #000;
    --Background: #1B1A1A;
    --itensFundo: #302C2C;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
    --fonteRoxa: #AC00FF;
    --fonteCinza: #B7ADAD;
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

#mostrar-todos-grupos {
    background: none;
    border: none;
    color: var(--corDoTextoPrincipal);
}

.grupos-popup-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.grupos-popup-lista li {
    background: var(--Background);
    height: 140px;
    width: 140px;
    border-radius: 0;
    border-width: 4px;
    border-style: solid;
    border-image: var(--gradientePrinci) 1;
}

.grupos-popup-lista .botao-imagem {
    width: 75%;
}

#abrirPopupCriarGrupo {
    background: none;
    border: none;
}

.botao-imagem-grupo-popup {
    width: 100%;
    aspect-ratio: 1/1;
}