:root {
    --corDeFundo: #000;
    --Background: #1B1A1A;
    --itensFundo: #302C2C;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
    --fonteRoxa: #AC00FF;
    --fonteCinza: #B7ADAD;
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

#form-criargrupo {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5rem;
    align-items: center;
}

.inserir-nome {
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.inserir-descricao {
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.adicionar-membros-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.adicionar-membros-container h3 {
    color: var(--corDoTextoPrincipal);
}

.adicionar-membros {
    background: var(--corDoTextoPrincipal);
    width: 75%;
    border-radius: 16px;
    border: none;
    height: 1.75rem;
}

#pesquisa-membros {
    display: none;
    width: 90%;
    height: 1.5rem;
    border: none;
    padding: 0.25rem;
}

.lista-membros-adicionar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.lista-membros-adicionar li {
    background: var(--corDoTextoPrincipal);
    padding: 0.5rem;
    border-radius: 10px;
}

.membro-selecionado {
    background-color: var(--gradientePrinci); 
    color: var(--corDoTextoPrincipal); 
    font-weight: bold;
}

#lista-membros-temp {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    list-style: none;
}

#lista-membros-temp li {
    color: var(--corDoTextoPrincipal);
    background: var(--gradientePrinci);
    padding: 0.25rem;
    border-radius: 10px;
    min-width: 60px;
    text-align: center;
}

.criar-grupo {
    width: 50%;
    background: var(--gradientePrinci);
    color: var(--corDoTextoPrincipal);
    height: 1.75rem;
    border: none;
    border-radius: 16px;
}

