/* header */
@import url("../header.css");

/* footer */
@import url("../footer.css");

:root {
    --corDeFundo: #000;
    --fonte: "DM Serif Display", serif;
    --corDoTextoPrincipal: #fff;
}

body {
    background: #020024;
    background: linear-gradient(164deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}


/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 5px solid var(--corDoTextoPrincipal);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fundo-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ou 'cover', se quiser preencher o espaço */
    opacity: 0.25;
    z-index: -1;
}

/* section imagem-container */
.imagem-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    color: var(--corDoTextoPrincipal);
    width: 75%;
}

.imagem-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.imagem-titulo h1, .imagem-titulo p {
    margin: 0;
}

.imagem-titulo h1 {
    font-size: 1rem;
    text-align: left;
}

.imagem-titulo p {
    text-align: end;
    font-size: 0.875rem;
}

.evento-container {
    display: flex;
    flex-direction: column;
}

.evento-link {
    background: #d9d9d9;
    width: auto;
    margin-top: 0.5rem;
    border-radius: 16px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--corDeFundo);
    font-size: 0.875rem;
}

.evento-link:hover {
    background: #c5c2c2;
}

/* section descricao */
.descricao {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 75%;
    font-size: 0.875rem;
}

.local {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.local-icone {
    width: 20px;
    height: 20px;
}

.evento-local {
    margin: 0.25rem;
    color: var(--corDoTextoPrincipal);
}

.paragrafo {
    margin: 0.25rem;
    color: var(--corDoTextoPrincipal);
}

/* footer */
footer {
    margin: 0;
}