@font-face { font-family: Barbra; src: url('../assets/fonts/Barbra-High.otf'); } 

:root {
    --gradientePrinci: linear-gradient(90deg, #2D21F3 0%, #AD00B6 100%);
    --cinzaRodape: #8D8888;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    color: var(--corDoTextoPrincipal);
}

.footer-linha {
    background: var(--gradientePrinci);
    height: 5px;
    width: 100%;
    border: none;
}

/* section cadastro */

.cadastro {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.cadastro-descricao {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    gap: 0.5rem;
}

.cadastro-descricao-titulo {
    font-size: 0.875rem;
    margin: 0;
}

.cadastro-descricao-texto {
    font-size: 0.75rem;
    margin: 0;
}

.cadastro-enviar {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.25rem;
}

.email {
    background: transparent;
    padding: 0.25rem;
    border: 2px solid #AC00FF;
    color: var(--corDoTextoPrincipal);
}

.cadastrar {
    width: 75%;
    background: var(--gradientePrinci);
    border: none;
    border-radius: 16px;
    color: var(--corDoTextoPrincipal);
}


.sobre-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
}

.sobre-div h3 {
    margin: 0;
}

.sobre-div a {
    font-size: 14px;
    text-decoration: none;
    color: var(--corDoTextoPrincipal);
}

/* section contato */

.contato {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.contato-div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.contato hr {
    background: var(--gradientePrinci);
    height: 4px;
    border: none;
    width: 100%;
}

.contato h3 {
    margin: 0;
}

.contato a {
    text-decoration: none;
    color: var(--corDoTextoPrincipal);
    font-size: 14px;
}

.redes-links {
    display: flex;
    gap: 0.5rem;
}

.redes-links img {
    width: 25px;
    height: 25px;
}

.footer-btm {
    border-top: 4px solid var(--cinzaRodape);
    margin-top: 1rem;
}

.footer-btm-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.25rem 0;
}

.linguagem {
    background: transparent;
    color: var(--cinzaRodape);
    border: none;
    padding: 0;
}

.footer-logo {
    background: var(--gradientePrinci);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Barbra;
    margin: 0;
}

.footer-btm-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btm-links-termos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.btm-links-politicas {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    width: 50%;
}

.footer-btm-links a {
    font-size: 12px;
    color: var(--cinzaRodape);
    text-decoration: none;
}

.footer-btm p {
    color: var(--cinzaRodape);
    font-size: 12px;
    text-align: start;
}