{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/detalhesEventos/detalhes_eventos.css' %}">
</head>
<body>
    
    {% include 'partials/header.html' %}

    <main class="principal">
        <img src="{{ evento.imagem.url }}" alt="Fundo do evento" class="fundo-main">
        <section class="imagem-container">
            <div class="imagem-titulo">
                <h1 class="evento-nome">{{ evento.nome }}</h1>
                <p class="evento-data">{{ evento.data|date:"d/m/Y H:i" }}</p>
            </div>
            <div class="evento-container">
                <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" class="evento-imagem">
                <a href="{{ evento.link }}" class="evento-link">Compre aqui</a>
            </div>
        </section>
        <section class="descricao">
            <div class="local">
                <img src="{% static 'assets/icons/local-icon.png' %}" alt="" class="local-icone">
                <p class="evento-local">{{ evento.legenda }}</p>
            </div>
            <div class="descricao-texto">
                <p class="paragrafo">{{ evento.descricao }}</p>
            </div>
        </section>
    </main>

    {% include 'partials/footer.html' %}

</body>
</html>