{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header class="cabecalho">
        <div class="container-cabecalho">
            <img src="{% static 'assets/icons/eventia-logo.png' %}" alt="" class="logo">
            <div class="sub-cabecalho">
                <h1 class="titulo">Eventia</h1>
                <p class="texto">Os melhores eventos de Rio Preto e região estão aqui!</p>
                <div class="botoes">
                    <a class="link">EVENTOS</a>
                    <a class="link">MINHA AREA</a>
                </div>
            </div>
        </div>
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="">
                    <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                    <!-- <button type="submit">
                        <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                    </button> -->
                </form>
            </div>
        </div>
    </header>

    <main>
        <div class="destaques">
            <ul class="lista-destaques">
                {% if cards_destaque %}
                {% for evento in cards_destaque %}
                <li class="lista-destaques-item">
                    <div class="imagem-container">
                        <a class="destaque-link" href=" {{ evento.link }}">
                            <img src="{{ evento.imagem.url }}" class="imagem-destaque">
                            <div class="descricao-overlay">
                                <p>{{ evento.descricao }}</p>
                            </div>
                        </a>
                        <h2 class="subtitulo">{{ evento.nome }}</h2>
                        <p class="legenda">{{ evento.legenda }}</p>
                        <p class="data">{{ evento.data }}</p>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <section class="eventos">
            <h2 class="titulo">Eventos</h2>
            <ul class="eventos-lista" id="eventos-container">
                {% if cards %}
                {% for evento in cards %}
                <li class="eventos-lista-item">
                    <a class="evento-link" href="{{ evento.link }}">
                        <div class="imagem-container">
                            <img src="{{ evento.imagem.url }}" class="imagem">
                            <div class="descricao-overlay">
                                <p>{{ evento.descricao }}</p>
                            </div>
                        </div>
                    </a>
                    <h3 class="evento-titulo">{{ evento.nome }}</h3>
                    <p class="evento-legenda">{{ evento.legenda }}</p>
                    <p class="evento-data">{{ evento.data }}</p>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </section>
    </main>

    <!-- <script>
        async function carregarEventos() {
            const resposta = await fetch('/api/eventos/');
            const eventos = await resposta.json();
    
            const container = document.getElementById('eventos-container');
            container.innerHTML = '';
    
            eventos.forEach(evento => {
                container.innerHTML += `
                    <li class="eventos-lista-item">
                        <a class="evento-link">
                            <img src="${evento.imagem}" class="imagem">
                        </a>
                        <h3 class="evento-titulo">${evento.nome}</h3>
                        <p class="evento-legenda">Buteco do patrão</p>
                        <p class="evento-descricao">${evento.descricao}</p>
                    </li>
                `;
            });
        }
    
        setInterval(carregarEventos, 10000); // atualiza a cada 10 segundos
        carregarEventos(); // carrega na primeira vez
    </script> -->
</body>
</html>