{% load static %}

<section id="popups-container">

    <!-- Popup Cadastro -->
    <div id="popup-cadastro" class="popup">
        <h2>Criar Conta</h2>
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <div class="form-cadastro">
                {% for field in form_cadastro.visible_fields %}
                        <div class="text-area" style="margin-bottom: 10px;">
                            {{field}}
                        </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="check">
                <input type="checkbox" name="termos" class="termos">
                <p>Concordo com os termos de serviço</p>
            </div>
            <div class="btns-cadastro">
                <button type="submit" class="btns-cadastro-cadastrar-popup">Cadastrar</button>
                <button type="button" class="btns-cadastro-login" id=".,popUpLoginDentroCadastro">Login</button>
            </div>
        </form>
    </div>

    <!-- Popup Criar Grupo -->
    <div id="popup-criargrupo" class="popup">
        <h2>Criar Grupo</h2>
        <form id="form-criargrupo" method="post" action="{% url 'criar_grupo' %}">
            {% csrf_token %}
            <input type="text" name="nome" class="inserir-nome" placeholder="Nome do grupo" required>
            <textarea name="descricao" class="inserir-descricao" placeholder="Descrição do grupo"></textarea>
            <div class="adicionar-membros-container">
                <button type="button" class="adicionar-membros">Adicionar membros +</button>
                <input type="text" id="pesquisa-membros" placeholder="Pesquisar usuários...">
                <ul class="lista-membros-adicionar"></ul>

                <h3>Membros adicionados</h3>
                <ul id="lista-membros-temp"></ul>
            </div>
            <button class="criar-grupo" type="submit">Criar</button>
        </form>
    </div>

    <!-- Popup Favoritos -->
    <div id="popup-favoritos" class="popup">
        <h2>Eventos favoritos</h2>
        <ul class="popup-favoritos-lista">
            {% if eventos_favoritos %}
                    {% for evento in eventos_favoritos %}
                        <li class="popup-favoritos-item">
                            <div class="imagem-container">
                                <a href="{% url 'detalhes_eventos' evento.id %}" class="favoritos-redirecionar">
                                    <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" class="favoritos-item-img">
                                </a>
                                <button class="favorito-btn" data-evento-id="{{ evento.id }}">
                                    <img src="{% static 'assets/icons/favoritado-icon.png' %}" alt="" class="favoritar-icone">
                                </button>
                            </div>
                            <div class="favoritos-item-descricao">
                                <h4>{{ evento.nome }}</h4>
                                <p>{{  evento.data }}</p>
                                <p>{{ evento.legenda }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Você ainda não favoritou nenhum evento.</p>
                {% endif %}
        </ul>
    </div>

    <!-- Popup Meus Grupos -->
    <div id="popup-grupos" class="popup">
        <h2>Meus Grupos</h2>
        <ul class="grupos-popup-lista">
            <li class="grupos-lista-item adicionar">
                <button class="grupos-botao" type="button" id="abrirPopupCriarGrupo">
                    <img class="botao-imagem" src="{% static 'assets/icons/adicionar-icon.png' %}" alt="">
                </button>
            </li>
            {% for grupo in grupos %}
                    <li class="grupos-lista-item">
                        <a href="{% url 'pagina_grupo' grupo.id %}">
                            <div class="grupo-info">
                                <img src="{% static 'assets/icons/grupo-icon.png' %}" alt="" class="grupo-img">
                                <p class="grupo-nome">{{ grupo.nome }}</p>
                                <p class="grupo-descricao">{{ grupo.descricao }}</p>
                            </div>
                            <form id="formulario-{{ grupo.id }}" action="{% url 'adicionar_membro' grupo.id %}" method="post" style="display:none;">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Nome de usuário">
                                <button type="submit">Adicionar</button>
                            </form>
                        </a>
                    </li>
                {% endfor %}
        </ul>
    </div>

    <!-- Popup Login -->
    <div id="popup-login" class="popup">
        <h2>Fazer login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-login">
                {% for field in form_login.visible_fields %}
                    <div class="text-area" style="margin-bottom: 10px;">
                        {{field}}
                    </div>
                {% endfor %}
            </div>
            <div class="btns-login">
                <button class="btns-login-cadastrar-popup" type="button" id="popUpCadastroDentroLogin">Cadastrar</button>
                <button class="btns-login-login" type="submit">Login</button>
            </div>
        </form>
    </div>

    <!-- Popup Sugestões -->
    <div id="popup-sugestoes" class="popup" style="display: none;">
        <h2>Sugestões</h2>
        <ul class="sugestoes-popup-lista">
            {% comment %} Lista de sugestões {% endcomment %}
        </ul>
    </div>

    

</section>