{% load static %}

<section id="popups-container">

    <!-- Popup Cadastro -->
    <div id="popup-cadastro" class="popup">
        <h2>Criar Conta</h2>
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <div class="form-cadastro">
                {% for field in form_cadastro.visible_fields %}
                        <div class="text-area" style="margin-bottom: 10px;">
                            {{field}}
                        </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="check">
                <div class="check-container">
                    <input type="checkbox" name="termos" class="termos">
                    <p>Concordo com os termos de serviço</p>
                </div>
                <div class="check-container">
                    <input type="checkbox" name="termos" class="termos">
                    <p>Quero recebr os eventos mais recentes</p>
                </div>
            </div>
            <div class="btns-cadastro">
                <div class="btns-cadastro-container">
                    <button type="submit" class="btns-cadastro-cadastrar-popup">Cadastrar</button>
                    <p>ou entre com uma conta social</p>
                </div>
                <div class="btns-cadastro-container">
                    <button type="button" class="btns-cadastro-login" id=".,popUpLoginDentroCadastro">Login</button>
                    <p>Já tem conta? Faça login</p>
                </div>
            </div>
        </form>
    </div>

    <!-- Popup Criar Grupo -->
    <div id="popup-criargrupo" class="popup">
        <h2>Criar Grupo</h2>
        <form id="form-criargrupo" method="post" action="{% url 'criar_grupo' %}">
            {% csrf_token %}
            <input type="text" name="nome" class="inserir-nome" placeholder="Nome do grupo" required>
            <textarea name="descricao" class="inserir-descricao" placeholder="Descrição do grupo"></textarea>
            
            <div class="adicionar-membros-container">
                <button type="button" class="adicionar-membros">Adicionar membros +</button>
                <input type="text" id="pesquisa-membros" placeholder="Pesquisar usuários...">
                <ul class="lista-membros-adicionar"></ul>
    
                <h3>Membros adicionados</h3>
                <ul id="lista-membros-temp"></ul>
                <input type="hidden" name="membros_ids" id="membros-ids">
            </div>
            
            <button class="criar-grupo" type="submit">Criar</button>
        </form>
    </div>

    <!-- Popup Favoritos -->
    <div id="popup-favoritos" class="popup">
        <h2>Eventos favoritos</h2>
        <ul class="popup-favoritos-lista">
            {% if eventos_favoritos %}
                    {% for evento in eventos_favoritos %}
                        <li class="popup-favoritos-item">
                            <div class="imagem-container">
                                <a href="{% url 'detalhes_eventos' evento.id %}" class="favoritos-redirecionar">
                                    <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" class="favoritos-item-img">
                                </a>
                                <button class="favorito-btn" data-evento-id="{{ evento.id }}">
                                    <img src="{% static 'assets/icons/favoritado-icon.png' %}" alt="" class="favoritar-icone">
                                </button>
                            </div>
                            <div class="favoritos-item-descricao">
                                <h4 class="favoritos-item-descricao-nome">{{ evento.nome }}</h4>
                                <p class="favoritos-item-descricao-data">{{ evento.data|date:"d M Y" }}</p>
                                <p class="favoritos-item-descricao-local">{{ evento.legenda }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Você ainda não favoritou nenhum evento.</p>
                {% endif %}
        </ul>
    </div>

    <!-- Popup Meus Grupos -->
    <div id="popup-grupos" class="popup">
        <h2>Meus Grupos</h2>
        <ul class="grupos-popup-lista">
            <li class="grupos-lista-item adicionar">
                <button class="grupos-botao" type="button" id="abrirPopupCriarGrupo">
                    <img class="botao-imagem-grupo-popup" src="{% static 'assets/icons/adicionar-branco-icon.png' %}" alt="">
                </button>
            </li>
            {% for grupo in grupos %}
                    <li class="grupos-lista-item">
                        <a href="{% url 'pagina_grupo' grupo.id %}">
                            <div class="grupo-info">
                                {% if grupo.imagem %}
                                    <img src="{{ grupo.imagem.url }}" alt="" class="grupo-img">
                                {% else %}
                                    <img src="{% static 'assets/icons/grupo-padrao-branco-icon.png' %}" alt="" class="grupo-img">
                                {% endif %}
                                <p class="grupo-nome-popup">{{ grupo.nome }}</p>
                            </div>
                            <form id="formulario-{{ grupo.id }}" action="{% url 'adicionar_membro' grupo.id %}" method="post" style="display:none;">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Nome de usuário">
                                <button type="submit">Adicionar</button>
                            </form>
                        </a>
                    </li>
                {% endfor %}
        </ul>
    </div>

    <!-- Popup Login -->
    <div id="popup-login" class="popup">
        <h2>Entrar</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-login">
                {% for field in form_login.visible_fields %}
                    <div class="text-area" style="margin-bottom: 10px;">
                        {{field}}
                    </div>
                {% endfor %}
                <p>Esqueci minha senha</p>
            </div>
            <div class="btns-login">
                <div class="btns-login-container">
                    <button class="btns-login-cadastrar-popup" type="button" id="popUpCadastroDentroLogin">Cadastrar</button>
                    <p>Não tem conta? Cadastre-se agora</p>
                </div>
                <div class="btns-login-container">
                    <button class="btns-login-login" type="submit">Login</button>
                    <p>ou faça login com uma conta social</p>
                </div>
            </div>
        </form>
    </div>

    <!-- Popup Sugestões -->
    <div id="popup-sugestoes" class="popup" style="display: none;">
        <h2>Sugestões</h2>
        <ul class="sugestoes-popup-lista">
            {% comment %} Lista de sugestões {% endcomment %}
        </ul>
    </div>

    <!-- Popup Imagem-perfil -->

    <div id="popup-imagem-perfil" class="popup">
        <h2>Atualizar Foto de Perfil</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'editar_foto_perfil' %}">
            {% csrf_token %}
            <div class="upload-container">
                <input type="file" name="foto_perfil" id="id_foto" accept="image/*" class="file-input">
                <label for="id_foto" class="upload-btn">Escolher Foto</label>
                <span id="file-name" class="file-name">Nenhum arquivo selecionado</span>
            </div>
            <button id="atualizar-img" type="submit">Atualizar Foto</button>
        </form>
    </div>

</section>