{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/minhaArea/area.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/popups/popups_main.css' %}">
</head>
<body>

    {% include 'partials/header.html' %}

    {% include 'mensagens.html' %}

    {% include 'popups.html' %}

    <main class="area">
        <section class="favoritos">
            <div class="favoritos-texto">
                <h2>EVENTOS FAVORITADOS</h2>
                <button type="button" id="mostrar-todos-favoritos">Mostrar Todos -></button>
            </div>
            <ul class="favoritos-lista">
                {% if eventos_favoritos %}
                    {% for evento in eventos_favoritos|slice:":3" %}
                        <li class="favoritos-lista-item">
                            <div class="imagem-container">
                                <a href="{{ evento.link }}" class="favoritos-redirecionar">
                                    <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" class="favoritos-item-img">
                                </a>
                                <button class="favorito-btn" data-evento-id="{{ evento.id }}">
                                    <img src="{% static 'assets/icons/favoritado-icon.png' %}" alt="" class="favoritar-icone">
                                </button>
                            </div>
                            <div class="favoritos-item-descricao">
                                <h4>{{ evento.nome }}</h4>
                                <p>{{  evento.data }}</p>
                                <p>{{ evento.legenda }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Você ainda não favoritou nenhum evento.</p>
                {% endif %}
            </ul>
        </section>

        <section class="grupos">
            <div class="grupos-texto">
                <h2>GRUPOS</h2>
                <button type="button" id="mostrar-todos-grupos">Mostrar Todos -></button>
            </div>
            <ul class="grupos-lista">
                <li class="grupos-lista-item adicionar">
                    <button type="button" id="btn-criar-grupo">
                        <img class="botao-imagem" src="{% static 'assets/icons/adicionar-icon.png' %}" alt="">
                    </button>
                </li>
                {% for grupo in grupos|slice:":2" %}
                    <li class="grupos-lista-item">
                        <a href="{% url 'pagina_grupo' grupo.id %}">
                            <div class="grupo-info">
                                <img src="{% static 'assets/icons/grupo-icon.png' %}" alt="" class="grupo-img">
                                <p class="grupo-nome">{{ grupo.nome }}</p>
                                <p class="grupo-descricao">{{ grupo.descricao }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="agenda">
            <h1 class="agenda-titulo">Minha Agenda</h1>
            <div class="calendario">
                {% for month in calendario %}
                  <div class="mes">
                    <h3 class="titulo-mes">{{ month.name }}</h3>
                    <div class="dias">
                      {% for day in month.days %}
                        <div class="dia">
                          <strong class="numero-dia">{{ day.day }}</strong>
                          {% if day.events %}
                            <ul class="eventos-do-dia">
                              {% for evento in day.events %}
                                <li class="evento" data-id="{{ evento.id }}" data-url="{% url 'detalhes_eventos' evento.id %}">
                                    <p class="evento-nome">{{ evento.nome }}</p>
                                    <a href="{% url 'remover_agenda' evento.id %}" class="remover-evento">Remover</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div id="modal-dia" class="modal hidden">
                <div class="modal-content">
                  <span id="fechar-modal" class="fechar">&times;</span>
                  <h2>Eventos do dia</h2>
                  <ul id="lista-eventos-dia"></ul>
                </div>
              </div>
        </section>
    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/eventos.js' %}"></script>
    <script src="{% static 'js/popups.js' %}"></script>
    <script src="{% static 'js/adicionar_membros.js' %}"></script>

    <script>
        function mostrarFormulario(grupoId) {
            const form = document.getElementById(`formulario-${grupoId}`);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
</body>
</html>