{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/minhaArea/grupo.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/popups/popups_main.css' %}">
</head>
<body>
    <header class="chat-cabecalho">
        <div class="chat-cabecalho-container">
            <a href="{% url 'area' %}" class="link-voltar">
                <img src="{% static 'assets/icons/flecha-esquerda-branca-icon.png' %}" alt="Voltar" class="voltar">
            </a>
            <div class="chat-info">
                {% if grupo.imagem %}
                    <img src="{{ grupo.imagem.url }}" alt="" class="chat-img">
                {% else %}
                    <img src="{% static 'assets/icons/grupo-padrao-branco-icon.png' %}" alt="" class="chat-img">
                {% endif %}
                <div class="chat-info-container">
                    <p class="chat-info-container-titulo">{{ grupo.nome }}</p>
                    <p class="chat-info-container-texto">Criado por: {{ grupo.criador }}</p>
                </div>
            </div>
        </div>
        <div class="btn-menu-container">
            <button class="menu-perfil"
                type="button"
                onclick="toggleMenuPerfil()"
                id="botao-menu">
            <img src="{% static 'assets/icons/usuario-icon.png' %}" alt="" class="menu-perfil-img icone-usuario">
            <img src="{% static 'assets/icons/perfil-azul-icon.png' %}" alt="Fechar" class="menu-perfil-img icone-fechar">
            </button>
            <div class="menu-lateral-perfil">
                {% if user.is_authenticated %}
                    <a href="{% url 'area' %}" class="menu-lateral-perfil-item">Minha área</a>
                    <a href="{% url 'logout' %}" class="menu-lateral-perfil-item">Logout</a>
                {% else %}
                    <button class="menu-lateral-perfil-item" id="popUpLogin-btn">Login</button>
                    <button class="menu-lateral-perfil-item" id="popUpCadastro-btn">Cadastre-se</button>
                {% endif %}
            </div>
        </div>
    </header>

    {% include 'popups.html' %}

    <main class="principal">
        <section class="conversa">
        <!-- Exibir as mensagens do grupo -->
        <div class="mensagens">
            {% for mensagem in mensagens %}
                <div class="mensagem {% if mensagem.autor == request.user %}mensagem-usuario{% else %}mensagem-outro{% endif %}">
                    <p class="usuario">{{ mensagem.autor }}:</p>
                    {% if mensagem.evento %}
                            <div class="evento-anexado">
                                <p><strong>{{ mensagem.evento.nome }}</strong></p>
                                <img src="{{ mensagem.evento.imagem.url }}">
                                <p>{{ mensagem.evento.data|date:"d M Y H:i" }}</p>
                                <a href="{{ mensagem.evento.link }}" target="_blank">Ver evento</a>
                            </div>
                        {% endif %}
                    <div class="conteudo-data">
                        <p class="conteudo">{{ mensagem.texto }}</p>
                    </div>
                    <p class="data">{{ mensagem.data_envio|date:"H:i" }}</p>
                </div>
            {% empty %}
                <p>Não há mensagens ainda.</p>
            {% endfor %}
        </div>
        <div class="enviar-mensagem">
            <form class="form-mensagem" method="post" action="{% url 'adicionar_mensagem' grupo.id %}">
                {% csrf_token %}
                <textarea name="texto" id="conteudo" placeholder="Digite uma mensagem..." required></textarea>
                <div class="enviar-container">
                    <div class="custom-select-container">
                        <select name="evento_id" class="custom-select">
                            <option value="" disabled selected hidden></option>
                            {% for evento in eventos %}
                                <option value="{{ evento.id }}">{{ evento.nome }}</option>
                            {% endfor %}
                        </select>
                        <img src="{% static 'assets/icons/anexo-azul-icon.png' %}" alt="Anexar" class="select-icon">
                    </div>
                    <button class="btn-mensagem" type="submit">
                        <img src="{% static 'assets/icons/enviar-brano-icon.png' %}" alt="Enviar mensagem" class="enviar-msg">
                    </button>
                </div>
            </form>
        </div>
        </section>
    </main>

   {% include 'partials/footer.html' %}

    <script src="{% static 'js/eventos.js' %}"></script>
    <script src="{% static 'js/popups.js' %}"></script>

</body>
</html>